html
  head
    link(type='text/css', rel='stylesheet', href='https://raw.github.com/twitter/bootstrap/master/docs/assets/css/bootstrap.css')
  
  
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js")
    script(src="http://ajax.cdnjs.com/ajax/libs/underscore.js/1.1.4/underscore-min.js")
    script(src="http://ajax.cdnjs.com/ajax/libs/backbone.js/0.3.3/backbone-min.js")
    script(src="https://raw.github.com/tklee/tmpfiles/master/backbonemodels.js")
  
  
  body
  

    h1 #{username} 
    section.css-table
      section.two-column
        section.cell
          h2 Your Account number is #{accountnumber}
          p hello #{username} !!
          p ................
          p At lupatum delenit aigue duos dolor tempor sunt in culpa qui officia d dereud facils est er expedit distinc peccand quaerer en imigent cupidat. Incita visset, accom ex robore ad quam vis vadisen vlavis confecs nis revinc tae. Ietm hae magnitu dine for super oper mari aggere. Oppidi his mowni bus suifs fortunis desp erate coe magno recipei ban ibi se rursus isdem opport unitel rursus isdem opport loci defen porti busi. Navigandi ad nunc. Que neque pedibus ipsorum, naves ad hunc mod arm aeque, erant fere situs oppi dorum ut facilus. Vada ac desussum aestus exipe aditurn habere ex alto.
        section.cell
          h2 Your Clan is #{clanname}
          p Lorem ipsum dolar sit amet, cons incidunt ut labore et dolore magn trud exercitation ullamcorpor susc vel eum irure dolor in reprehende dolore eu fugiat nulla pariatur.
          p #{username} At lupatum delenit aigue duos dolor tempor sunt in culpa qui officia d dereud facils est er expedit distinc peccand quaerer en imigent cupidat. Incita visset, accom ex robore ad quam vis vadisen vlavis confecs nis revinc tae. Ietm hae magnitu dine for super oper mari aggere. Oppidi his mowni bus suifs fortunis desp erate coe magno recipei ban ibi se rursus isdem opport unitel rursus isdem opport loci defen porti busi. Navigandi ad nunc. Que neque pedibus ipsorum, naves ad hunc mod arm aeque, erant fere situs oppi dorum ut facilus. Vada ac desussum aestus exipe aditurn habere ex alto.
    section.css-table
      section.three-column
        section.cell
          h3 Your Items
          p Lorem ipsum dolar sit amet, cons incidunt ut labore et dolore magn trud exercitation ullamcorpor susc vel eum irure dolor in reprehende dolore eu fugiat nulla pariatur.
        section.cell
          h3 Your balance
          p Lorem ipsum dolar sit amet, cons incidunt ut labore et dolore magn trud exercitation ullamcorpor susc vel eum irure dolor in reprehende dolore eu fugiat nulla pariatur.
        section.cell
          h3 Your karma
          p Lorem ipsum dolar sit amet, cons incidunt ut labore et dolore magn trud exercitation ullamcorpor susc vel eum irure dolor in reprehende dolore eu fugiat nulla pariatur.
     
    
    a.btn.btn-primary.btn-large button#add-friend Add Comment
    ul#friends-list
    a.btn.btn-primary.btn-large button#upvote-button Upvote
    ul#vote-count

